h1{
    color: red;
    
}

span.titulo{
    background-color: gray; 
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

p.cuerpo{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

body{
    background-color: lightgray !important;
}